@import './materialize';

// variables independent of _variables.scss
$header-bg: url(../img/pattern1.png);
$header-height: 300px;

body {
  background: $primary-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-header {
  background: $header-bg;
  color: $text-color1;
  height: $header-height;
  margin-bottom: 30px;

  h1 {
    margin: 0;
    padding-top: 30px;
  }
}

main {
  flex: 1 0 auto;
}

.input-field,
label {
  color: black !important;
  font-size: 20px !important;
}
